@import "src/styles/config/mixins.scss";
@import "src/styles/config/variables.scss";
//@import 'src/icons/underline.svg';

.hover-svg-icon {
  fill: $colorWhite;
  cursor: pointer;

  &:hover {
    fill: $colorGreenHover;
  }
}

.underline::after {
  display: block;
  content: " ";
  margin: 0 auto;
  font-size: 0px;

  width: rem(89);
  height: rem(3);
  margin-top: rem(20);

  background: url('/images/underline.svg') no-repeat center;
}

//.mask {
//  background-color: #122620;
//  opacity: 0.6;
//}
//



