@import "src/styles/config/mixins.scss";
@import "src/styles/config/variables.scss";
//@import 'src/icons/underline.svg';

.hover-svg-icon {
  fill: $colorWhite;
  cursor: pointer;

  &:hover {
    fill: $colorGreenHover;
  }
}

.underline::after {
  display: block;
  content: " ";
  margin: 0 auto;
  font-size: 0;

  width: rem(89);
  height: rem(3);
  margin-top: rem(20);

  mask: url('/images/underline.svg') no-repeat center;
  background-color: $colorGrayFontDark;
}

input[type="text"],
input[type="number"],
input[type="password"],
textarea {
  border-radius: 20px;
  border: 1px solid transparent;
  outline: 0;
  padding: rem(10px);
  overflow: hidden;
  background-color: $colorWhite;

  &:focus {
    border-color: #FFFFFF;
  }

  &::placeholder {
    color: $colorGrayFontLight;
    text-align: left;
  }
}

$button-height: rem(20px);
$point-pos: rem(6px);

.radio-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  & input[type="radio"] {
    display: none;
  }

  & .radio-custom {
    width: $button-height;
    height: $button-height;
    background: $colorWhite;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(10px);
  }

  & input[type="radio"]:checked + .radio-custom::before {
    content: "";
    display: block;
    position: absolute;
    top: $point-pos;
    right: $point-pos;
    bottom: $point-pos;
    left: $point-pos;
    background: $colorGreen;
    border-radius: 50%;
  }

  & .radio-custom,
  & input[type="radio"]:checked + .radio-custom::before {
    border-radius: 50%;
  }

  & span {
    vertical-align: middle;
    @extend %section-text-font;
    color: $colorWhite;
  }
}

.checkbox-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  & input[type="checkbox"] {
    display: none;
  }

  & .checkbox-custom {
    width: $button-height;
    height: $button-height;
    background: $colorGreen;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: rem(10px);
  }

  & input[type="checkbox"]:checked + .checkbox-custom::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/images/check.svg') no-repeat center;
    background-size: 80%;
    background-position: center center;
  }

  & span {
    vertical-align: middle;
    @extend %section-text-font;
    color: $colorWhite;
  }
}






