$colorBG: black;
$colorBGGray: #EBEFE2;
$colorBGWhite: #F4F5F0;

$colorGray: #C3D4CB;
$colorGrayFontDark: #566358;
$colorGrayFontLight: #95a399;

$colorGreenOpacity: rgba(18, 38, 32, 0.6);

$colorWhite: #FFFFFF;

$colorDarkGray: #373E42;
$colorTransparentTitle: #FEFEFE;

$colorGreen: #618e54;
$colorGreenHover: #6C9C5A;

$colorGreenButtonHover: #467b37;