$colorBG: black;
$colorBGGray: #EBEFE2;
$colorBGWhite: #F4F5F0;

$colorLightGray: #dfdcd5;
$colorGray: #C3D4CB;
$colorGrayFontDark: #566358;
$colorGrayFontLight: #95a399;

$colorGreenOpacity: rgba(18, 38, 32, 0.65);
$colorGreenLightOpacity: rgba(108, 156, 90, 0.851);

$colorWhite: #FFFFFF;
$colorWhiteOpacity: rgba(244, 245, 240, 0.851);

$colorDarkGray: #373E42;
$colorTransparentTitle: #FEFEFE;

$colorGreen: #618e54;
$colorGreenHover: #6C9C5A;
$colorGreenOverlayMenu: #608c53;

$colorGreenButtonHover: #467b37;
$colorGreenButtonHoverBorder: #729e19;




