@import "src/styles/config/mixins";
@import "src/styles/config/variables";
@import "src/styles/layout/text_settings";

.about {
  height: 950px;
  @extend %clearfix;
}

.about__col {
  position: relative;
  height: 100%;
  //border: 1px solid blue;
}

.about__col_left {
  width: 50%;
  float: left;
  background-color: $colorBGGray;
}

.about__col_right {
  width: 50%;
  float: right;
  background-color: $colorBGWhite;
}

.about__triangle {
  display: block;
  height: rem(105);
  width: 100%;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  fill-opacity: 1;
  opacity: 1;
}

.about__triangle_left {
  fill: $colorBGGray;
 // border: 1px solid green;
}

.about__triangle_right {
  fill: $colorBGWhite;
}

.about__content {
  height: 100%;
  padding: rem(10);
  //border: 1px solid red;
}

.about__photo {
  margin: 0 auto;
  display: block;
  width: rem(500px);
  //max-height: 70%;
  max-width: 80%;

  height: auto;

  padding: rem(20);
}

.about__title {
  @extend %h1-font;
  color: $colorGrayFontDark;
  //margin-top: rem(5);

}

.about__me-title {
  @extend %section-title-font;
  color: $colorGrayFontDark;
  margin: rem(10);
}

.about__skills-title {
  @extend %section-title-font;
  color: $colorGrayFontDark;
  width: 55%;

}

.about__text {
  @extend %section-text-font;
  color: $colorGrayFontDark;
  width: 77%;
  display: block;
  margin: 0 auto;

  padding: rem(5) 0;
}

