@import "socials.scss";

.hero {
  background: url('./../../images/forest.jpg') no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;

  height: 80vh;
}


.hero .socials {
   border: 1px solid red;
   background-color: gray;
 }
