@import 'src/styles/config/mixins';
@import 'src/styles/blocks/socials';
@import 'src/styles/blocks/arrow';
@import 'src/styles/blocks/hamburger';
@import 'src/styles/blocks/transparent-title';

.hero {
  height: 600px;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
}

.hero__bg {
  position: absolute;
  height: 100%
}

.hero__bg img {
  display: block;
  width: 150%;
  min-width: 100vw;
  min-height: 120%;
}

.hero__header {
  margin-top: rem(30);
  width: 100%;
  @extend %clearfix;
}

.hero__header .socials {
  float: left;
}

.hero__hamburger {
  float: right;
}

.hero .hamburger__nav-overlay {
 // padding: rem(30) 2.5% 0 2.5%;

 & .hero__hamburger {
   float: none;
 }
}

.hero__transparent-title {
  width: 100%;
  height: rem(315);
  margin-top: 10%;
}

.hero__user {
  width: 100%;
  position: absolute;
  top: 35%;

  & .user {
    margin: 0 auto;
  }
}

.hero__arrow {
  width: 100%;
  position: absolute;
  bottom: rem(70);
}

.hero__arrow-img {
  margin: 0 auto;
  display: block;
}


