@import "src/styles/layout/adjustment";
@import "src/styles/layout/text_settings";
@import "src/styles/config/variables";

.user {
  //width: rem(400);
  max-width: 60vmin;
  max-height: 50vh;
}

.user__photo {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: rem(140);
  max-width: 80%;
  border: 1px solid $colorGray;
}

.user__title {
  @extend %section-title-font;
  color: $colorWhite;
  text-align: center;
  margin-top: rem(20);
  width: 100%;
}

.user__text {
  @extend %section-text-font-regular;
  color: $colorWhite;
  text-align: center;
  margin-top: rem(10);
}