@import 'src/styles/blocks/socials';
@import 'src/styles/config/variables';
@import 'src/styles/config/mixins';
@import 'src/styles/layout/controls';
@import 'src/styles/layout/text_settings';
@import 'src/styles/blocks/main_bg';

.wrapper {
  //max-width: 1500px;
}

.welcome_autorization_btn {
  position: absolute;
  z-index: 50;
  right: 3vw;
  top: 3vh;
}

.welcome__user {
  position: absolute;
  min-width: rem(380px);
  padding-top: rem(40px);
  display: block;
  overflow: hidden;
  z-index: 50;

  @include centered('both');

  text-align: center;
  border-radius: 5px;

  background-color: $colorGreenOpacity;

  & .user {
    margin: 0 auto;
    max-height: rem(500px);
  }

  & .socials {
    display: inline-block;
    margin-top: rem(20px);
    margin-bottom: rem(40px);
  }

  & .socials__icon {
    fill: $colorGrayFontLight;

    &:hover {
      fill: $colorGreenHover;
    }
  }

  & .user__text {
    color: $colorGrayFontLight;
  }

  & .btn-group {
    width: 100%;
  }
}