extends ../main
include ../../mixins/user
include ../../mixins/btn_group

block title
	title Портфолио
block content
	//Секция Приветствие
	section.section.welcome
		.welcome__bg
			img(src=require("src/images/forest.jpg") alt="")
		.welcome__img_mask
		//Фото разработчика
		.welcome__user
			+user('', 'Марина Сокуренко', 'Личный сайт разработчика')
			include ./../../parts/socials
			-
				var welcome_btn_group = [
				{
					title: 'Мои работы',
					class_name: 'btn-works',
					url: '#'
				},{
					title: 'Обо мне',
					class_name: 'btn-about',
					url: '#'
				},{
					title: 'Блог',
					class_name: 'btn-blog',
					url: '#'
				}
				];
			+btn_group('welcome_button-group', welcome_btn_group)
		.welcome__footer
			.welcome__copyright © Марина Сокуренко | 2018