extends ../main
include ../../mixins/user
include ../../mixins/btn
include ../../mixins/footer

block title
	title Портфолио
block content
	//Секция Приветствие
	main.section.welcome
		.main-bg.welcome__main-bg
			img(src=require('src/images/forest.jpg') alt="")
		.main-img-mask.welcome__main-img-mask
		+autorization_btn('Авторизоваться', 'welcome_autorization_btn')
		//Фото разработчика
		.welcome__user
			+user('', 'Марина Сокуренко', 'Личный сайт разработчика')
			include ./../../parts/socials
			-
				var welcomeBtnGroup = [
				{
				title: 'Мои работы',
				class_name: 'btn-works',
				url: '#'
				},{
				title: 'Обо мне',
				class_name: 'btn-about',
				url: '#'
				},{
				title: 'Блог',
				class_name: 'btn-blog',
				url: '#'
				}
				];
			+btn_group('welcome__button-group', welcomeBtnGroup)
		+footer('contacts__main-footer', '© Марина Сокуренко | 2018')