extends ../main

block title
	title Портфолио
block content
	//Секция Приветствие
	include ../../parts/hero
	//Секция Обо мне
	section.section.about
		.about__col.about__col_left
			+svg-on-page('about_bg_left', 'about__triangle about__triangle_left')
			h1.about__title.underline ОБО МНЕ
			.about__content
				img(class='about__photo' src=require('src/images/user.jpg'))
				h2.about__me-title.underline КТО Я
				p.about__text.
					Я веб разработчик из Москвы. Мне 35 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p.about__text.
					Этот сайт сделан в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.about__col.about__col_right
			+svg-on-page('about_bg_right', 'about__triangle about__triangle_right')
			.about__content
				h2.about__skills-title.underline ЧЕМ МОГУ БЫТЬ ВАМ ПОЛЕЗНА	
				include ./../../parts/skills
	//Секция Контакты
	include ../../parts/contacts