extends ../main

block title
	title Портфолио
block content
	//Секция Приветствие
	include ../../parts/hero
	//Секция Обо мне
	include ../../parts/about
	//Секция Контакты
	include ../../parts/contacts
	//Footer
	include ../../parts/footer