@import 'src/styles/blocks/main_bg';
@import 'src/styles/blocks/btn_group';
@import 'src/styles/config/variables';
@import 'src/styles/config/mixins';
@import 'src/styles/layout/controls';
@import 'src/styles/layout/text_settings';

.login .login__form {
  position: absolute;
  min-width: rem(380px);
  padding-top: rem(40px);
  display: block;
  overflow: hidden;
  z-index: 50;

  @include centered('both');

  text-align: center;
  border-radius: 5px;

  background-color: $colorGreenOpacity;

  & .btn-group {
    width: 100%;
  }
}

.login__title {
  @extend %section-title-font;
  color: $colorWhite;
}

.login__title.underline::after {
  background-color: $colorWhite;
}

.input__col {
  padding: rem(20);
}

.input__row {
  margin-bottom: rem(20);
  width: 100%;
}

$iconWidth: 10%;
$inputPadding: 5%;

.login .input__login {
  background-image:
          url('/images/login.svg'),
          linear-gradient(to right, $colorBGGray $iconWidth, $colorWhite $iconWidth);
  background-repeat: no-repeat;
  background-position: rem(10), 0;
  background-size: auto 40%, 105%;
  padding-left: $iconWidth + $inputPadding;
  padding-right: $inputPadding;
  width: 100% - $iconWidth - ($inputPadding * 2);
}

.login .input__password {
  background-image:
          url('/images/password.svg'),
          linear-gradient(to right, $colorBGGray $iconWidth, $colorWhite $iconWidth);
  background-repeat: no-repeat;
  background-position: rem(10), 0;
  background-size: auto 40%, 105%;
  padding-left: $iconWidth + $inputPadding;
  padding-right: $inputPadding;
  width: 100% - $iconWidth - ($inputPadding * 2);
}


.login .input__robots-title {
  @extend %section-text-font;
  color: $colorWhite;
  font-weight: bold;
}
