extends ../main
include ../../mixins/btn_group
include ../../mixins/btn

block title
	title Авторизация
block content
	//Секция Авторизация
	main.section.login
		.main-bg.login__main-bg
			img(src=require("src/images/forest.jpg") alt="")
		.main-img-mask.login__main-img-mask
		//Вход
		form.login__form
			.login__title.underline АВТОРИЗУЙТЕСЬ
			.input__col
				input(id='input__login' type="text" placeholder='Логин' required autofocus autocomplete='on').input__login.input__row
				input(id='input__pasword' type="password" placeholder='Пароль' maxlength='20' autocomplete='current-password' required).input__pasword.input__row
				.input__human.input__row
				.input__robots.input__row
					.input__robots-title
					.input__robots-radio
						.input__robots-yes Да
						.input__robots-no Не уверен
			-
				var loginBtnGroup = [
				{
				title: 'На главную',
				class_name: 'btn-to-main',
				url: '#'
				},{
				title: 'Войти',
				class_name: 'btn-login',
				url: '#'
				}
				];
			+btn_group('login__button-group', loginBtnGroup)
		footer.main-footer.login__main-footer
			.main-footer__copyright.login__copyright © Марина Сокуренко | 2018