section.section.contacts
	div(id='map')

//script(src="js/google-map.js"  defer)
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQmJCTTL7_ny4EX4bZBmOmypC3RjZa1Wk&callback=initMap" defer)
