section.section.contacts
	div(id='map')
	.contacts__block
		.contacts__title.underline Контакты
		.contacts__row
			a(href='skype:expromtum').contacts__link
				.contacts__row-item.contacts__row-item--icon
					+svg-on-page('skype', 'contacts__icon contacts__icon--skype', 'Skype')
				.contacts__row-item.contacts__text expromtum
		.contacts__row
			a(href='mailto:expromtum@gmail.com').contacts__link
				.contacts__row-item.contacts__row-item--icon
					+svg-on-page('envelope2', 'contacts__icon contacts__icon--mail', 'E:mail')
				.contacts__row-item.contacts__text expromtum@gmail.com
		.contacts__row
			a(href='tel:+79035594425').contacts__link
				.contacts__row-item.contacts__row-item--icon
					+svg-on-page('phone2', 'contacts__icon contacts__icon--phone', 'Phone')
				.contacts__row-item.contacts__text +7 903 559 44 25
		.contacts__row
			.contacts__row-item.contacts__row-item--icon
				+svg-on-page('map_marker', 'contacts__icon contacts__icon--location', 'Location')
			.contacts__text.contacts__row-item Москва, Прибрежный проезд
//script(src="js/google-map.js"  defer)
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQmJCTTL7_ny4EX4bZBmOmypC3RjZa1Wk&callback=initMap" defer)