include ../mixins/user
include ../mixins/nav

section.section.hero
	.hero__bg
		img(src=require('src/images/forest.jpg') alt='')
	.container
		header.hero__header
			include ../parts/socials
			.element-overlay
				+hamburger('hero__hamburger')
		.transparent-title.hero__transparent-title
			+svg-on-page('portfolio_header', 'transparent-title__img')
		//Фото разработчика
		.hero__user
			+user('', 'Марина Сокуренко', 'Личный сайт разработчика')
		.hero__arrow
			+svg-on-page('portf_arrow_down','hover-svg-icon arrow hero__arrow-img')