section.section.hero
    .container
        //Социальные кнопки и кнопка меню
        header.hero__header
            include ../parts/socials
            nav.hamburger.hero__hamburger
                .hamburger_compact.active
                    .a(href='#' class='hamburger__link')
                        +svg-on-page('hamburger', 'hamburger svg-icon hamburger__icon')
                .hamburger_full
                    .a(href='#' class='hamburger__link')
                        +svg-on-page('hamburger', 'hamburger svg-icon hamburger__icon')
        //Фото разработчика
        include ../parts/user

        .hero__arrow
            +svg-on-page('portf_arrow_down','arrow hero__arrow-img svg-icon')