ul.socials
    -
        var socials = [
        {
        title: 'vk',
        url: 'vkontakte.com'

        // },{
        // title:'fb',//'fb',
        // url:'facebook.com'
        },{
        title: 'github',
        url: 'github.com'
        },{
        title: 'in',
        url: 'inst.com'
        }
        ];

    each socials_item in socials
        li(class=`socials__item socials__item--${socials_item.title}`)
            +svg-on-page(socials_item.title, "hover-svg-icon socials__icon socials__icon--" + socials_item.title, socials_item.title)